#vim
*.swp

#eclipse
.classpath
.project
.settings/

#intellij
.idea
*.iml
*.iws

#Mac
.DS_Store

#Maven
log/
logs/
*.class
target/

#package
*.jar
*.war
*.ear

#xfTest
mtgravity-thrift/mtgravity-service-client/src/test/**/XfTest.java
