server:
  port: 8080


# endpoints 健康检测相关配置,如需改动请同步修改check.sh文件TEST_URL
management:
  server:
    port: 8080
  endpoints:
    web:
      base-path: /monitor
      path-mapping:
        health: /alive
      exposure:
        include: configprops, env, health
spring:
  datasource:
    url: jdbc:h2:mem:test
    driver-class-name: org.h2.Driver
    username: sa
    password: 9527
    schema: classpath:/sql/create.sql
    initialSize: 5
    minIdle: 5
    maxActive: 20
    maxWait: 60000
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: SELECT 1 FROM DUAL
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true